{template 'header2'}

<div class="u_wsxq">
	
	<div class="u_mbxdh">
		<span>·您的位置：<a href="">首页</a> > <a href="">商城</a> > <a href="">提交订单</a> > <a href="">完善网站需求</a></span>
	</div>
	<!-- 订单详情 -->



	<div class="u_ddxqsw">
		<div class="u_ddxqsw_t"><span>订单详情</span></div>
		<div class="u_ddxqsw_con">
			<div class="u_ddxqsw_con_l">
				<span><b>公司名称：</b>{$td[buyer_name]}（{$td[title]}）</span>
				<span><b>订单编号：</b>{$td[itemid]}</span>
				<span><b>所在地区：</b>{$td[areaid]}</span>
			
				<span><b><i>项目状态：</i></b>{$td[status_zt]}（<i>已付款{$td[ready_money]}元  </i>）</span>
			</div>
			<div class="u_ddxqsw_con_r">
				<span><b>订单总金额：</b><i><b>{$td[amount]}元</b></i></span>
				<span><b>订单时间：</b>{$td['adddate']}</span>
				<span><b>行业：</b>{$td[hy_sort]}</span>
			</div>
		</div>
	</div>
	<!-- 订单详情 结束-->
	<!-- 建站资料开始 -->
 <div class="N_DdyLc">
    <img src="{DT_SKIN}/image/N_DdyLc_baner.jpg" alt="">
  </div>
	<!-- 建站资料选项卡 -->
	
	
  <div class="js_case clear">
    <div class="js_title cf">
	
      <ul class="js_title-list cf">
     <li><a href="trade.php?itemid={$itemid}&action=update&step=upload_5&forward={$_GET[forward]}">建站资料</a></li>
        <li><a href="trade.php?itemid={$itemid}&action=update&step=index&forward={$_GET[forward]}">首页设计</a></li>
        <li><a href="trade.php?itemid={$itemid}&action=update&step=lm&forward={$_GET[forward]}">栏目页及内页设计</a></li>
        <li><a href="trade.php?itemid={$itemid}&action=update&step=design&forward={$_GET[forward]}">程序开发</a></li>
        <li  class="on"><a href="trade.php?itemid={$itemid}&action=update&step=last&forward={$_GET[forward]}">网站上线</a></li>
      </ul>
    </div>
    <div class="product-wrap">
     <!--建站资料-->
     <div class="js_product" >

     </div>
<div class="js_product ">

</div>
<div class="js_product">

</div>
<div class="js_product show">
	
  	<div class="u_jzzl_webonline" id="u_jzzl_webonline">
       		<div class="u_jzzl_webonline_k" id="u_jzzl_webonline_k">
       			<div class="u_jzzl_webonline_cont">
       				<div class="u_jzzl_webonline_cont_t">
       				
       				<span class="mgtp20"><i></i></span>
       				{if $web[url]!=""}
       				<span><p>
       					您好，您的网站已上线，地址如下。
       				</p></span>
       				<span class="mgtp20"><i>网站地址：</i> <input type="text" value="{$website[num]}" name="num" class="webon_txt" readonly></span>
       				{else}
       		    	<span><p>
       					您好，请等待网站上线。
       				</p></span>
       				{/if}
       				
       			
       				</div>
       			
       			</div>
       		</div>
       	</div>
       	
</div>
        
</div>
<div class="js_product">



     
    </div>
  </div>
		<!-- 建站资料选项卡 结束-->
</div>
	<!-- 建站资料结束 -->

{template 'footer'}




  
  
  