{template 'header2'}
<div class="u_wsxq">

	<div class="u_mbxdh">
		<span>·您的位置：<a href="">首页</a> > <a href="">商城</a> > <a href="">提交订单</a> > <a href="">完善网站需求</a></span>
	</div>
	<!-- 订单详情 -->
<script>
function onimg(){
var tb_pathToImage =DTPath+"/skin/default/image/jdt.gif";  
   imgLoader = new Image(); //  image对象  
    imgLoader.src = tb_pathToImage;  
    $("body").append("<div id='Image_load'><img src='" + imgLoader.src + "' /></div>"); //page中增加Img  
    $('#Image_load').show(); //show loader  
	$("#foot_za").css("display","block");
}

</script>


	<div class="u_ddxqsw">
		<div class="u_ddxqsw_t"><span>订单详情</span></div>
		<div class="u_ddxqsw_con">
			<div class="u_ddxqsw_con_l">
				<span><b>公司名称：</b>{$td[buyer_name]}（{$td[title]}）</span>
				<span><b>订单编号：</b>{$td[itemid]}</span>
				<span><b>所在地区：</b>{$td[areaid]}</span>
			
				<span><b><i>项目状态：</i></b>{$td[status_zt]}（<i>已付款{$td[ready_money]}元  </i>）</span>
			</div>
			<div class="u_ddxqsw_con_r">
				<span><b>订单总金额：</b><i><b>{$td[amount]}元</b></i></span>
				<span><b>订单时间：</b>{$td['adddate']}</span>
				<span><b>行业：</b>{$td[hy_sort]}</span>
			</div>
		</div>
	</div>
	<!-- 订单详情 结束-->
	<!-- 建站资料开始 -->
 <div class="N_DdyLc">
    <img src="{DT_SKIN}/image/N_DdyLc_baner.jpg" alt="">
  </div>
	<!-- 建站资料选项卡 -->
	
	
  <div class="js_case clear">
    <div class="js_title cf">
	
      <ul class="js_title-list cf">
     <li><a href="trade.php?itemid={$itemid}&action=update&step=upload_5&forward={$_GET[forward]}">建站资料</a></li>
        <li><a href="trade.php?itemid={$itemid}&action=update&step=index&forward={$_GET[forward]}">首页设计</a></li>
        <li  class="on"><a href="trade.php?itemid={$itemid}&action=update&step=lm&forward={$_GET[forward]}">栏目页及内页设计</a></li>
        <li><a href="trade.php?itemid={$itemid}&action=update&step=design&forward={$_GET[forward]}">程序开发</a></li>
        <li><a href="trade.php?itemid={$itemid}&action=update&step=last&forward={$_GET[forward]}">网站上线</a></li>
      </ul>
    </div>
    <div class="product-wrap">
     <!--建站资料-->
     <div class="js_product" >

     </div>
<div class="js_product ">

</div>
<div class="js_product show">
	<form method="post" action="trade.php" id="dform" onSubmit="return onimg()">
	<input type="hidden" name="forward" value="{$CFG[url]}/member/trade.php?itemid={$itemid}&action={$action}&step={$step}"/>
	<input type="hidden" name="action" value="{$action}"/>
	<input type="hidden" name="step" value="{$step}"/>
	<input type="hidden" name="itemid" value="{$itemid}"/>
	<input type="hidden" value="" name="picid" id="picid">
	<input type="hidden" name="confirm_order" value="1"/>
          <div class="u_jzzl_lanmuneiye" id="u_jzzl_lanmuneiye">
          		<div class="u_jzzl_lanmuneiye_k" id="u_jzzl_lanmuneiye_k">
          			<div class="u_jzzl_lanmuneiye_cont">
          				<div class="u_jzzl_lanmuneiye_cont1">
          					<div class="u_jzzl_lanmuneiye_cont1_lf">
          					{if $td[status]>=5 }<p><b>栏目页及内页设计稿：</b>(点击可预览)如需修改，请提交您的修改意见，便于设计师修改。</p>{/if}
          					</div>
          					<div class="u_jzzl_lanmuneiye_cont1_rt">
          						<ul>
          						{loop $re_upload_1s $i $r_1}
						<ul>{loop $r_1[t] $m $r_1}
						  <li>
     							<div class="">
     								<a href="{$CFG[url]}extend/view_pic.php?img={$r_1['upload']}"  target="_blank"><img src="{$r_1[upload]}" id="showthumb{$m}" alt="" disabled ></a>
     							<span>{$r_1[note]}</span>
						</div>
				        							
				       	</li>
					{/loop}{/loop}
				        				    
        					</ul>
          					</div>
          				</div>
          				{if $td[status]>=5 }
          				<div class="u_jzzl_lanmuneiye_cont2">
          					<div class="u_jzzl_lanmuneiye_cont2_lf">
          						<p><i>注：如果对本次设计稿不满意，请联系设计师。</i></p>
          					</div>
          					<div class="u_jzzl_lanmuneiye_cont2_rt">
          						<a href="message.php?action=send&touser={$re_upload_1s[0][company_id]}"><img src="{DT_SKIN}/image/fasongzhanneixin.gif" alt=""></a>
          						<a href="chat.php?touser={$re_upload_1s[0][company_id]}&mid=16&itemid={$td[itemid]}"><img src="{DT_SKIN}/image/onlingoutong.gif" alt=""></a>
          					</div>
          				</div>
						{/if}
					  {if $td[status]==5 }
					  <div class="u_jzzl_lanmuneiye_cont3">
							<b>栏目页及内页效果确认:</b>
						</div>
						<div class="u_jzzl_lanmuneiye_cont4">
							<p>注：栏目页及内页设计稿确认后，网站将进入程序开发阶段，此时页面将不再变动，如果需要变动将收取一定的费用。如需变动页面内容，请联系客服。同意请点击页面确认。</p>
							<span><input type="submit" name="submit" value="页面确认" onclick=" if(!confirm('确认栏目已制作完成么？\n\n请注意:确认后栏目页即为这些')) return false;" class="btn"/>&nbsp;&nbsp;<input type="button" value=" 返 回 " class="btn" onclick="history.back(-1);"/></span>
						</div>
						{else}
						
					
						{/if}
						  	</div>
          		</div>
          </div>
        </form>
</div>
<div class="js_product">

</div>
<div class="js_product"></div>
     
    </div>
  </div>
		<!-- 建站资料选项卡 结束-->
</div>
	<!-- 建站资料结束 -->

{template 'footer'}




