{template 'header'}

<div class="u_wsxq">
	<div class="u_wsxq_baner">
		<img src="{DT_SKIN}/image/u_wsxq_ban.jpg" alt="">
	</div>
	<div class="u_mbxdh">
		<span>·您的位置：<a href="">首页</a> > <a href="">商城</a> > <a href="">提交订单</a> > <a href="">完善网站需求</a></span>
	</div>
	<!-- 订单详情 -->



	<div class="u_ddxqsw">
		<div class="u_ddxqsw_t"><span>订单详情</span></div>
		<div class="u_ddxqsw_con">
			<div class="u_ddxqsw_con_l">
				<span><b>公司名称：</b>{$td[buyer_name]}（{$td[title]}）</span>
				<span><b>订单编号：</b>{$td[itemid]}</span>
				<span><b>所在地区：</b>{$td[areaid]}</span>
			
				<span><b><i>项目状态：</i></b>{$td[status_zt]}（<i>已付款{$td[ready_money]}元  </i>）</span>
			</div>
			<div class="u_ddxqsw_con_r">
				<span><b>订单总金额：</b><i><b>{$td[amount]}元</b></i></span>
				<span><b>订单时间：</b>{$td['adddate']}</span>
				<span><b>行业：</b>{$td[hy_sort]}</span>
			</div>
		</div>
	</div>
	<!-- 订单详情 结束-->
	<!-- 建站资料开始 -->

	<!-- 建站资料选项卡 -->
	
	
  <div class="js_case clear">
    <div class="js_title cf">
	
      <ul class="js_title-list cf">
     <li class="on"><a href="?itemid={$itemid}">订单详情</a></li>
 
      </ul>
    </div>
    <div class="product-wrap">
     <!--建站资料-->
     <div class="js_product" >

     </div>
<div class="js_product show">

<div class="u_jzzl_index_sj" id="u_jzzl_index_sj">
        	<div class="u_jzzl_index_sj_k" id="u_jzzl_index_sj_k">
        		<div class="u_jzzl_index_sj_cont">
        			<div class="u_jzzl_index_sj_cont1">
        				<span>
        				<b>首页最终作品：</b>(点击图片可以预览网页效果)    
        			
        				</span>
        			</div>
        			<!-- 设计师列表开始 -->
        				{loop $re_upload_1s $i $r_1}
        			<div class="u_jzzl_index_sj_cont2">
        			
        			<!-- 设计师名称 -->
        			
      
        				<div class="u_jzzl_index_sj_cont2_show">
        					<ul>
        					{loop $r_1[t] $m $r_1}
        						<li>
        							<div class="u_jzzl_index_sj_cont2_show_img">
        								<a href="{$CFG[url]}extend/view_pic.php?img={$r_1['upload']}"  target="_blank"><img src="{$r_1[upload]}" id="showthumb{$m}"  alt="" disabled ></a>
        							<span>{$r_1[addtime]}</span>
									</div>
        							<br />
        						
        						</li>
        						{/loop}
        					
        					</ul>
        				</div>	
        					
        			</div>{/loop}
        		<div class="u_jzzl_index_sj_cont1">
        				<span>
        				<b>栏目作品：</b>(点击图片可以预览网页效果)    
        			
        				</span>
        			</div>
        				{loop $lm_1s $i $lm_1}
        			<div class="u_jzzl_index_sj_cont2">
        			
        			<!-- 设计师名称 -->
        			
        				<div class="u_jzzl_index_sj_cont2_show">
        					<ul>
        					{loop $lm_1[t] $m $lm_1}
        						<li>
        							<div class="u_jzzl_index_sj_cont2_show_img">
        								<a href="{$CFG[url]}extend/view_pic.php?img={$lm_1['upload']}"  target="_blank"><img src="{$lm_1[upload]}" id="showthumb{$m}"  alt="" disabled ></a>
        							<span>{$lm_1[note]}</span>
									</div>
        							<br />
        						
        						</li>
        						{/loop}
        					
        					</ul>
        				</div>	
        					
        			</div>{/loop}
        			
        			<!-- 设计师列表结束 -->
        			<div class="u_jzzl_index_sj_cont4"><b>首页所有设计稿：</b>(点击放大图片)</div>
        		
        	
        			

        			<div class="u_jzzl_index_sj_cont6">
        				
        				<div class="u_jzzl_index_sj_cont6_rt">
        					<ul>
        					  {loop $index_alls $i $m}
                                <li>
                                    <div class="">
                                    <a target="_blank" href="{$CFG[url]}/extend/view_pic.php?img={$m[upload]}"><img src="{$m[upload]}" alt=""></a>
                                    <span>{$m[addtime]}</span>
                                    </div>
                                    <br />
                                </li>
                                {/loop}
        						
        						
        					</ul>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        

</div>
<div class="js_product"></div>
<div class="js_product"></div>
<div class="js_product"></div>
     
    </div>
  </div>
		<!-- 建站资料选项卡 结束-->
</div>
	<!-- 建站资料结束 -->

{template 'footer'}