{template 'header1', $module}
<script type="text/javascript">c(2);var errimg = '{DT_SKIN}image/nopic50.gif';</script>
<div class="u_SheJiS_DaTing u_fl">
        <!-- 建站大厅一排盒子 -->
        <!-- 建站项目条件开始 -->
           
            <input type="hidden" name="action" value="{$action}"/>
        <div class="u_SheJiS_DaTing_xz">
              <div class="u_SheJiS_DaTing_xz_t"><b><i>> 建站项目大厅</i></b></div>
              <div class="u_SheJiS_DaTing_xz_Tiaoj">
                <div class="u_SheJiS_DaTing_xz_Tiaoj_t">
               
                  <b>建站项目搜索></b> <a href="">重置筛选条件</a>
                </div>
                <div class="u_SheJiS_DaTing_xz_Tiaoj_sea">
                    <div class="u_SheJiS_DaTing_xz_Tiaoj_sea_1">
                      <b>套餐类型：</b> 
                          <ul>
                            <li><a href="?n={$s}&order={$order}">全部</a></li>
                            <li><a href="?t=1&n={$s}&order={$order}">展示站</a></li>
                            <li><a href="?t=2&n={$s}&order={$order}">品牌站</a></li>
                            <li><a href="?t=3&n={$s}&order={$order}">营销站</a></li>
                          </ul>
                    </div>
                    <div class="u_SheJiS_DaTing_xz_Tiaoj_sea_1 u_SheJiS_DaTing_xz_Tiaoj_sea_1_bg">
                      <b>套餐级别：</b> 
                          <ul>
                            <li><a href="?n={$s}&order={$order}">全部</a></li>
                            <li><a href="?t=4&n={$s}&order={$order}">基础站</a></li>
                            <li><a href="?t=5&n={$s}&order={$order}">标准站</a></li>
                            <li><a href="?t=6&n={$s}&order={$order}">高级站</a></li>
                          </ul>
                    </div>
                    <div class="u_SheJiS_DaTing_xz_Tiaoj_sea_1">
                      <b>项目状态：</b> 
                          <ul>
                            <li><a href="?t={$t}&order={$order}">全部</a></li>
                            <li><a href="?n=1&t={$t}&order={$order}">新项目</a></li>
                            <li><a href="?n=2&t={$t}&order={$order}">修改中</a></li>
                            <li><a href="?n=3&t={$t}&order={$order}">已结束</a></li>
                          </ul>
                    </div>
                </div>
              </div>
        </div>
        <!-- 建站项目条件结束 -->
        <!-- 建站大厅项目搜素结果开始 -->
        <div class="u_SheJiS_DaTing_JG">
            <div class="u_SheJiS_DaTing_JG_Pgg">
                <p><i>排序：</i> 
                    <a href="?order=addtime&n={$n}&t={$t}" id="page">发布时间</a>
                   <a href="?order=status&n={$n}&t={$t}" id="page">订单状态</a>
                
                </p>
                <span>
                {$pages}
               </span>
            </div>
            <!-- 项目搜素框开始 -->
            <div class="u_SheJiS_DaTing_JG_sea">
              <p>项目搜索</p>
               <form action="project.php">
               <input type="hidden" name='my' value="{$_GET[my]}"/>
                  <input type="text" placeholder="订单编号 " name="item" value="{$item}" style='width:160px;'class="u_SheJiS_DaTing_JG_sea_txt" >&nbsp;&nbsp;
                <p><input type="text" placeholder="买家帐号" name="buyer" value="{$buyer}" style='width:80px;' class="u_SheJiS_DaTing_JG_sea_txt" ></p>  
                 <div class="u_SheJiS_DaTing_JG_sea_txt"> {dcalendar('fromtime', $fromtime)} <i>至</i> {dcalendar('totime', $totime)}</div>
                  <input type="submit" value="搜素" name="submit" class="u_SheJiS_DaTing_JG_sea_btn">
                 </form>
            </div>
            
         
            <!-- 项目搜素框结束 -->
            <!-- 项目信息展示列表开始 -->
            <div class="u_SheJiS_DaTing_List">
              <div class="u_SheJiS_DaTing_List_info"><b>项目信息</b></div>
              <div class="u_SheJiS_DaTing_List_leix"><b>套餐类型</b></div>
              <div class="u_SheJiS_DaTing_List_yiti"><b>已提交作品</b></div>
              <div class="u_SheJiS_DaTing_List_xmzt"><b>项目状态</b></div>
              <div class="u_SheJiS_DaTing_List_time"><b>剩余时间</b></div>
              <div class="u_SheJiS_DaTing_List_caoz"><b>操作</b></div>
            </div>
           {loop $trades $i $r}
            <!-- 列表循环开始 -->
            <div class="u_SheJiS_DaTing_List_cont">
              <div class="u_SheJiS_DaTing_List_cont_info" id="u_SheJiS_DaTing_List_cont_info">
                <p><b>订单编号：</b>{$r[itemid]}</p>
                <p><b>订单时间：</b>{$r[addtime]}</p>
                <p><b>{$r[buyer_name]}</b></p>
                <p><a href="">({$r[title]})</a></p>
              </div>
              <div class="u_SheJiS_DaTing_List_cont_leix">
                    <p>{$r[buyer_receive]}</p> 
                 
              </div>
              <div class="u_SheJiS_DaTing_List_cont_yiti">
                    <p>{$r[count]}</p>
              </div>
              <div class="u_SheJiS_DaTing_List_cont_xmzt">
                    <p>{$r[status_zt]}</p>
                    <p><a href="project.php?itemid={$r[itemid]}&action=update&step=upload_5&forward={$MODULE[2][linkurl]}">订单详情</a></p>
              </div>
              <div class="u_SheJiS_DaTing_List_cont_time">
                    <p>{$r['lefttime']}</p>
              </div>
              <div class="u_SheJiS_DaTing_List_cont_caoz">
                    <!-- 按钮默认是灰色的 高亮套class 默认gaoliangG 换gaoliangY变亮-->
                 <p>    {if $r[status]==0}
		       <input type="button" value="等待中" class="gaoliangG">
                {elseif $r[status]==1}
                <input type="submit" value="等待中" class="gaoliangG">
                {elseif $r[status]==2}
                 <input type="submit" value="提交首页" class="u_btn" onclick="Go('project.php?itemid={$r[itemid]}&action=update&step=index&forward={$MODULE[2][linkurl]}');"/>
              
                 {elseif $r[status]==3 }
                 <input type="submit" value="提交首页" class="u_btn" onclick="Go('project.php?itemid={$r[itemid]}&action=update&step=index&forward={$MODULE[2][linkurl]}');"/>
                 {elseif $r[status]==5 }
                 <input type="submit" value="提交栏目" class="u_btn" onclick="Go('project.php?itemid={$r[itemid]}&action=update&step=lm&forward={$MODULE[2][linkurl]}');"/>
                 {elseif $r[status]==6 || $rm[status]==7 }
                   <input type="submit" value="提交PSD" class="u_btn" onclick="Go('project.php?itemid={$r[itemid]}&action=update&step=design&forward={$MODULE[2][linkurl]}');"/>
                  {elseif $r[status]==8 } 
                  	{if $r[buyer_star]}
					<input type="submit" value="评价详情" class="u_btn" onclick="Go('project.php?itemid={$r[itemid]}&action=update&step=comment_detail&forward={$forward}');"/>
					{else}
					<input type="submit" value="评 价" class="u_btn" onclick="Go('project.php?itemid={$r[itemid]}&action=update&step=comment&forward={$forward}');"/>
					{/if}
                 {else}
                     <input type="submit" value="等待中" class="gaoliangG">
                 {/if} </p>
               
                    

              </div>
            </div>
            <div class="u_SheJiS_DaTing_List_cont_liu"></div>
            <!-- 列表循环结束 -->
            
            {/loop}
            <!-- 列表循环开始 -->
          

            <!-- 项目信息展示列表结束 -->
        </div>

        <!-- 建站大厅项目搜素结果结束 -->
        
                 
         <!--  --></div>
   
{template 'footer', $module}