{php $CSS = array('index');}
{template 'header'}


<div class="oyw_banner_box">
<div class="oyw_banner"><img src="{DT_SKIN}/image/banner.jpg" width="100%" height="248">
</div>
<div class="oyw_Login_box">
<div class="oyw_Login"></div>
{if $_username && $_groupid <=5}
<div class="oyw_tm"><h3 class="clearfix"><span style="font-size:14px;font-family:微软雅黑; padding:3px 0px;;" class="fl">{$_username} {$MG[groupname]}，您好</span><span  style="padding-top:13px; margin-left:10px;">
	<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/{if $user[vtruename]}v{else}u{/if}_truename.gif" style='padding-top: 3px;'width="16" height="16" title="{if $user[vtruename]}已通过{else}未通过{/if}真实姓名认证" align="absmiddle"/> <a href="{DT_STATIC}{$MODULE[2][moduledir]}/validate.php?action=truename" style='text-decoration: underline;'>实名</a> &nbsp;
	
</span></h3>
<div class="oyw_user clear">
  <div class="sjs_in_k">
    <div class="sjs_in_k_1">余额:<b><big> {$_money}</big></b> 元<small>（锁定:{$user[locking]}元）</small></div>
    
    <div class="sjs_in_k_2">
        <div class="sjs_in_k_2_l oy_floatlf">
          <p>{$count2[count]}</p>
          <span><a href="{$MODULE[2][linkurl]}">未付款项目</a></span>
        </div>
        <div class="sjs_in_k_2_b oy_floatlf">
          <p>{$count1[count]}</p>
          <span><a href="{$MODULE[2][linkurl]}">已付款项目</a></span>
        </div>
        <div class="sjs_in_k_2_r oy_floatlf">
          <p>{$_credit}</p>
          <span><a href="{$MODULE[2][linkurl]}credit.php">积分</a></span>
        </div>
    </div>
  </div>
  <div class="sjs_in_in clear">
    <input type="submit"  onclick="Go('{$MODULE[2][linkurl]}');" id="J-login-btn" class="ui-button" style="font-size:14px;font-family:微软雅黑;" value="进入会员中心" >
  </div>
</div></div>
 {elseif $_groupid >5}
 <div class="oyw_tm"><h3 class="clearfix"><span style="font-size:14px;font-family:微软雅黑; padding:3px 0px;;" class="fl">{$_username} {$MG[groupname]}，您好</span><span  style="padding-top:13px; margin-left:10px;">
<img src="{if $user[vcompany]}{$MODULE[2][linkurl]}/image/v_company.gif{else}{$MODULE[2][linkurl]}/image/u_company.gif{/if}" style='padding-top: 3px;'width="16" height="16" title="{if $user[vcompany]}已通过{else}未通过{/if}设计师认证" align="absmiddle"/>	{if $user[vcompany]}<img src="{DT_SKIN}image/vip_{$user[vip]}.gif" style='padding-top: 3px;'/>{else} <a href="{DT_STATIC}{$MODULE[2][moduledir]}/validate.php?action=company" style='text-decoration: underline;'>认证</a> &nbsp; {/if}
	
</span></h3>
<div class="oyw_user clear">
  <div class="sjs_in_k">
    <div class="sjs_in_k_1">余额:<b><big> {$_money}</big></b> 元<small>（锁定:{$user[locking]}元）</small></div>
    
    <div class="sjs_in_k_2">
        <div class="sjs_in_k_2_l oy_floatlf">
          <p>{count($sj_all)}</p>
          <span><a href="{$MODULE[2][linkurl]}">投标</a></span>
        </div>
        <div class="sjs_in_k_2_b oy_floatlf">
          <p>{$sj_in[count]}</p>
          <span><a href="{$MODULE[2][linkurl]}">入围</a></span>
        </div>
        <div class="sjs_in_k_2_r oy_floatlf">
          <p>{$sj_last[count]}</p>
          <span><a href="{$MODULE[2][linkurl]}">中标</a></span>
        </div>
    </div>
  </div>
  <div class="sjs_in_in clear">
    <input type="submit"  onclick="Go('{$MODULE[2][linkurl]}');" id="J-login-btn" class="ui-button" style="font-size:14px;font-family:微软雅黑;" value="进入会员中心" >
  </div>
</div></div>
 {else}
<div class="oyw_tm"><h2 class="clearfix"><span style="font-size:18px;font-family:微软雅黑;" class="fl">欢迎登陆</span><span class="fr" style="padding-top:10px;">会员登陆</span></h2>
<div class="oyw_user clear">
<form method="post" action="{$MODULE[2][linkurl]}{$DT[file_login]}" id="Login" name="Login">
<input name="forward" type="hidden" id="forward" value="{$CFG['url']}">
<ul>
<li><span>用户名:</span><em><input name="username" type="text" id="username" value="{$username}" placeholder='手机号/邮箱/会员名' autocomplete="off" autocorrect="off" autocapitalize="off"></em></li>
<li><span>密&nbsp;&nbsp;&nbsp;&nbsp;码:</span><em><input name="password" type="password" class="inp"  id="password" value=""></em></li>
<li><span></span><em style="padding-left:60px;*padding-left:55px;width:30px;height:10px;_padding-left:30px;"><input type="checkbox" style="width:20px;height:15px" name="cookietime" value="1" id="cookietime"  checked=""><label for="cookietime">记住我</label></em><em style="padding-left:10px;*padding-left:10px;width:30px;height:10px;_padding-left:10px;"><input type="checkbox" name="goto" style="width:30px;height:15px" value="1" id="goto"{if $MOD[login_goto]} checked{/if}/><label for="goto">进入会员中心</label></em></li>

<li><a href="{$MODULE[2][linkurl]}{$DT[file_register]}"><img src="{DT_SKIN}/image/zc.jpg" width="110" height="27"></a><a  href="#" onclick="Dcheck();" style="padding-left:14px;"><img src="{DT_SKIN}/image/login.jpg" width="110" height="27"></a></p></li>
<li class="pyw_wz"><p style="padding-top:6px;"><a href="{$MODULE[2][linkurl]}send.php">忘记密码</a> <a href="#">忘记用户名</a>  <a href="#">新手指南</a></li>

</ul>

</form>
</div></div>
 {/if}

</div>
</div>
<div class="oyw_content">
<div class="oyw_Show mt12 clearfix">
<ul>
<li>
<h2 style="color:#38a200;font-size:20px;padding-bottom:5px;">展示网站建设</h2>
<p style="color:#434343;">适用人群：公司刚成立或者需要需要展示企业和产品的客户</p>
<p>定制特点： 设计师量身定制独特</p>
<p>首页效果，强大后台智能管理。</p>
<p style="color:#38a200">主推套餐：￥<strong style="font-size:25px;font-family:arial;">2680</strong> (标准型)</p>
<p style="padding-top:6px;"><a href="#"><img src="{DT_SKIN}/image/con_box.jpg" width="138" height="36"></a></p>
</li>
<li>
<h2 style="color:#ff6201;font-size:20px;padding-bottom:5px;">品牌网站建设</h2>
<p style="color:#434343;">适用人群：公司刚成立或者需要需要展示企业和产品的客户</p>
<p>定制特点： 设计师量身定制独特</p>
<p>首页效果，强大后台智能管理。</p>
<p style="color:#ff6201">主推套餐：￥<strong style="font-size:25px;font-family:arial;">2680</strong> (标准型)</p>
<p style="padding-top:6px;"><a href="#"><img src="{DT_SKIN}/image/con_box_01.jpg" width="138" height="36"></a></p>
</li>
<li>
<h2 style="color:#00a9b4;font-size:20px;padding-bottom:5px;">营销网站建设</h2>
<p style="color:#434343;">适用人群：公司刚成立或者需要需要展示企业和产品的客户</p>
<p>定制特点： 设计师量身定制独特</p>
<p>首页效果，强大后台智能管理。</p>
<p style="color:#00a9b4">主推套餐：￥<strong style="font-size:25px;font-family:arial;">2680</strong> (标准型)</p>
<p style="padding-top:6px;"><a href="#"><img src="{DT_SKIN}/image/con_box_02.jpg" width="138" height="36"></a></p>
</li>
<li class="last">
<h2 style="color:#1bb6e7;font-size:20px;padding-bottom:5px;">Logo设计</h2>
<p style="color:#434343;">适用人群：公司刚成立或者需要需要展示企业和产品的客户</p>
<p>定制特点： 设计师量身定制独特</p>
<p>首页效果，强大后台智能管理。</p>
<p style="color:#1bb6e7">主推套餐：￥<strong style="font-size:25px;font-family:arial;">2680</strong> (标准型)</p>
<p style="padding-top:6px;"><a href="#"><img src="{DT_SKIN}/image/con_box_03.jpg" width="138" height="36"></a></p>
</li>
</ul>
</div>
<div class="oyw_abbanner mt12 clear"><a href="#"><img src="{DT_SKIN}/image/ab_banner.jpg" width="1000" height="241"></a>
</div>

<div class="oyw_Information mt12 clearfix">
<div class="oyw_cement fl">
<h2 class="clearfix"><em class="fl">信息公告</em><a href="#" class="fr">MORE<i style="font-family:宋体;">>></i></a></h2>
<ul>
<li class="clear"></li>
<li><!--{tag("table=announce&condition=totime=0 or totime>$today_endtime-86400&length=30&areaid=$cityid&pagesize=3&datetype=2&order=listorder desc,addtime desc&target=_blank")}--></li>
</ul>
</div>
<div class="oyw_About fr">
<h2 class="clearfix"><em class="fl">关于我们</em><a href="#" class="fr">MORE<i style="font-family:宋体;">>></i></a></h2>
<div class="oyw_moen fl clear">
<p>上海摩恩网络有限公司成立于2007年，至今已有6年定制建站经验。主要业务：域名，主机，邮箱，400电话，网络营销等。目前我们建站已获得了800多家企业的认可。</p>
<p>我们拥有一流的设计团队和技术开发团队，贴心的售后客服，确保最优质的服务。</p>
<p style="color:#ff6d12;">· <i style="font-size:14px;">我们具有多种支付方式，更加方便快捷！</i>（支持银行转账汇款）</p>
<p style="padding-top:10px;"><a href="#" style="padding-right:20px;"><img src="{DT_SKIN}/image/zaixian.jpg" width="122" height="24"></a><a href="#"><img src="{DT_SKIN}/image/zhifu.jpg" width="154" height="27"></a></p>
</div>
<div class="oyw_Contact fr">
<p style="padding-left:2px;">全国统一服务热线/企业QQ</p>
<p><img src="{DT_SKIN}/image/haoma.jpg" width="165" height="27"></p>
<p>工作时间：08:30-17:30</p>
<p>邮箱：kefu@omooo.com</p>
<p><a href="#"><img src="{DT_SKIN}/image/QQ1.jpg" width="153" height="32"></a></p>
<p><a href="#"><img src="{DT_SKIN}/image/QQ.jpg" width="153" height="32"></a></p>
</div>
</div>
</div>
<div class="oyw_pic mt12"><a href="#"><img src="{DT_SKIN}/image/Information.jpg" width="1000" height="106"></a></div>
<div class="oyw_case mt12">
<div class="Menubox clearfix">
<h2 class="fl">精品案列展示</h2>
  <ul class="fr">
  <li id="the1" onMouseOver="setTab('the',1,4)" class="hover" >展示网站建设</li>
  <li id="the2" onMouseOver="setTab('the',2,4)" >品牌网站建设</li>
  <li id="the3" onMouseOver="setTab('the',3,4)" class="last" >营销网站建设</li>
  <li id="the4" onMouseOver="setTab('the',4,4)" class="last" >Logo设计</li>
  </ul>
  </div><div class="Contentbox clear clearfix">
  <ul>
  <li id="con_the_1" class="hover">
  <div class="oyw_case_t clearfix">
  <div class="oyw_case_l fl">
  <h3>案例搜索（可多选）：</h3>
  <div class="oyw_color">
    <p><a onclick="color(1,1)"><img  id="1color1" src="{DT_SKIN}/image/oyw_pic_48.jpg" title="红色" width="21" height="21"></a></p>
  <p><a onclick="color(2,1)" ><img id="1color2" src="{DT_SKIN}/image/oyw_pic_46.jpg" title="黄色" width="21" height="21"></a></p>
  <p><a onclick="color(3,1)" ><img  id="1color3" src="{DT_SKIN}/image/oyw_pic_51.jpg" title="绿色" width="21" height="21"></a></p>
  <p><a  onclick="color(4,1)"><img id="1color4" src="{DT_SKIN}/image/oyw_pic_53.jpg" title="蓝色" width="21" height="21"></a></p>
  <p><a onclick="color(5,1)" ><img id="1color5" src="{DT_SKIN}/image/oyw_pic_55.jpg" title="紫色" width="21" height="21"></a></p>
  <p><a onclick="color(6,1)" ><img id="1color6" src="{DT_SKIN}/image/oyw_pic_57.jpg"  title="粉红色"width="21" height="21"></a></p>
  <p><a  onclick="color(7,1)"  ><img id="1color7" src="{DT_SKIN}/image/oyw_pic_59.jpg"title="棕色" width="21" height="21"></a></p>
  <p><a onclick="color(8,1)" ><img id="1color8" src="{DT_SKIN}/image/oyw_pic_61.jpg" title="黑白色"width="21" height="21"></a></p>
  <p class="last"><a onclick="color(9,1)" ><img id="1color9" src="{DT_SKIN}/image/oyw_pic_63.jpg"title="多种" width="21" height="21"></a></p>
  </div>
  <div class="oyw_xz clear clearfix" style="padding-top:10px;">
  <h4 style="color:#444;padding-bottom:8px;">您已经选择了</h4>
  <p id="select"><span id='select_color1'>&nbsp;</span> <span id='select_hy1'>&nbsp;</span>   <span id='select_city1'>&nbsp;</span> </p>
  </div>
  <div class="casr_search clearfix">
  <form action="{$CFG['url']}mall/search_order.php" method="post">
  <input type="hidden" id="color1" name="color"/>
  <input type="hidden" id="city1"  name="city"/>
  <input type="hidden" id="sort1" name="sort"/>
  <input name="cartid" type="hidden" value=1>
  <input name="item" type="text"  class="input_txt fl">
  <input name="submit" type="submit" value="搜索" class="input_btn fr"></form>
  </div>
  </div>
  <div class="oyw_case_c fl">
  <h3>请选择行业或地区：</h3>
  <ul style="padding-top:6px;" class="clear clearfix">
	{loop $sorts $i $r}
  	<li><p>+<a id="1area{$i}" title="{$r}" onclick="area('{$i}',1)">{$r}</a></p>	
    {/loop}
  </ul>
  
  </div>

  <div class="oyw_case_r fr">
 
  <h4><a href="#">上海网站建设</a> <a href="#">北京网站建设</a> <a href="#">深圳网站建设</a> <a href="#">苏州网站建设</a> <a href="#">杭州网站建设</a> <a href="#">成都网站建设</a> <a href="#">广州网站建设</a> <a href="#">武汉网站建设</a></h4>
  <h5>{loop $AREA  $k $city}
  <a id="1city{$k}" title="{$city[areaname]}" onclick="city('{$k}',1)">{$city[areaname]}</a>
  {/loop}
  </h5><ul>
  </ul>
  </div>
  </div>

  <div class="oyw_case_b clearfix">
  <ul>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <a href="#"><div class="oyw_wz">
      <h5>公司名称：上海科技创新有限公司</h5>
      <p>建站套餐：展示站1套餐</p>
      <p>网站特点：以产品为主，展示企业特点</p>
     </div></a> 
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <a href="#"><div class="oyw_wz">
      <h5>公司名称：上海科技创新有限公司</h5>
      <p>建站套餐：展示站1套餐</p>
      <p>网站特点：以产品为主，展示企业特点</p>
     </div></a> 
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <a href="#"><div class="oyw_wz">
      <h5>公司名称：上海科技创新有限公司</h5>
      <p>建站套餐：展示站1套餐</p>
      <p>网站特点：以产品为主，展示企业特点</p>
     </div></a> 
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <a href="#"><div class="oyw_wz">
      <h5>公司名称：上海科技创新有限公司</h5>
      <p>建站套餐：展示站1套餐</p>
      <p>网站特点：以产品为主，展示企业特点</p>
     </div></a> 
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <a href="#"><div class="oyw_wz">
      <h5>公司名称：上海科技创新有限公司</h5>
      <p>建站套餐：展示站1套餐</p>
      <p>网站特点：以产品为主，展示企业特点</p>
     </div></a> 
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <a href="#"><div class="oyw_wz">
      <h5>公司名称：上海科技创新有限公司</h5>
      <p>建站套餐：展示站1套餐</p>
      <p>网站特点：以产品为主，展示企业特点</p>
     </div></a> 
  </li>
  </ul>
  </div>
  </li>
  <li id="con_the_2" style="display:none">  <div class="oyw_case_t clearfix">
  <div class="oyw_case_l fl">
   <h3>案例搜索（可多选）：</h3>
  <div class="oyw_color">
    <p><a onclick="color(1,2)"><img  id="2color1" src="{DT_SKIN}/image/oyw_pic_48.jpg" title="红色" width="21" height="21"></a></p>
  <p><a onclick="color(2,2)" ><img id="2color2" src="{DT_SKIN}/image/oyw_pic_46.jpg" title="黄色" width="21" height="21"></a></p>
  <p><a onclick="color(3,2)" ><img  id="2color3" src="{DT_SKIN}/image/oyw_pic_51.jpg" title="绿色" width="21" height="21"></a></p>
  <p><a  onclick="color(4,2)"><img id="2color4" src="{DT_SKIN}/image/oyw_pic_53.jpg" title="蓝色" width="21" height="21"></a></p>
  <p><a onclick="color(5,2)" ><img id="2color5" src="{DT_SKIN}/image/oyw_pic_55.jpg" title="紫色" width="21" height="21"></a></p>
  <p><a onclick="color(6,2)" ><img id="2color6" src="{DT_SKIN}/image/oyw_pic_57.jpg"  title="粉红色"width="21" height="21"></a></p>
  <p><a  onclick="color(7,2)"  ><img id="2color7" src="{DT_SKIN}/image/oyw_pic_59.jpg"title="棕色" width="21" height="21"></a></p>
  <p><a onclick="color(8,2)" ><img id="2color8" src="{DT_SKIN}/image/oyw_pic_61.jpg" title="黑白色"width="21" height="21"></a></p>
  <p class="last"><a onclick="color(9,2)" ><img id="2color9" src="{DT_SKIN}/image/oyw_pic_63.jpg"title="多种" width="21" height="21"></a></p>
  </div>
  <div class="oyw_xz clear clearfix" style="padding-top:10px;">
  <h4 style="color:#444;padding-bottom:8px;">您已经选择了</h4>
  <p id="select"><span id='select_color2'>&nbsp;</span> <span id='select_hy2'>&nbsp;</span>   <span id='select_city2'>&nbsp;</span> </p>
  </div>
  <div class="casr_search clearfix">
  <form action="{$CFG['url']}mall/search_order.php" method="post">
  <input type="hidden" id="color2" name="color"/>
  <input type="hidden" id="city2"  name="city"/>
  <input type="hidden" id="sort2" name="sort"/>
  <input name="cartid" type="hidden" value=2>
  <input name="item" type="text"  class="input_txt fl">
  <input name="submit" type="submit" value="搜索" class="input_btn fr"></form>
  </div>
  </div>
  <div class="oyw_case_c fl">
  <h3>请选择行业或地区：</h3>
  <ul style="padding-top:6px;" class="clear clearfix">
  
  	{loop $sorts $i $r}
 
  	<li><p>+<a id="2area{$i}" title="{$r}" onclick="area('{$i}',2)">{$r}</a></p>
  	{/loop}
  </ul>
  
  </div>

  <div class="oyw_case_r fr">
 
  <h4><a href="#">上海网站建设</a> <a href="#">北京网站建设</a> <a href="#">深圳网站建设</a> <a href="#">苏州网站建设</a> <a href="#">杭州网站建设</a> <a href="#">成都网站建设</a> <a href="#">广州网站建设</a> <a href="#">武汉网站建设</a></h4>
  <h5>{loop $AREA  $k $city}
  <a id="2city{$k}" title="{$city[areaname]}" onclick="city('{$k}',2)">{$city[areaname]}</a>
  {/loop}
  </h5><ul>
  </ul>
  </div>
  </div>
  <div class="oyw_case_b clearfix">
  <ul>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  </ul>
  </div></li>
  <li id="con_the_3" style="display:none">  <div class="oyw_case_t clearfix">
  <div class="oyw_case_l fl">
    <h3>案例搜索（可多选）：</h3>
  <div class="oyw_color">
    <p><a onclick="color(1,3)"><img  id="3color1" src="{DT_SKIN}/image/oyw_pic_48.jpg" title="红色" width="21" height="21"></a></p>
  <p><a onclick="color(2,3)" ><img id="3color2" src="{DT_SKIN}/image/oyw_pic_46.jpg" title="黄色" width="21" height="21"></a></p>
  <p><a onclick="color(3,3)" ><img  id="3color3" src="{DT_SKIN}/image/oyw_pic_51.jpg" title="绿色" width="21" height="21"></a></p>
  <p><a  onclick="color(4,3)"><img id="3color4" src="{DT_SKIN}/image/oyw_pic_53.jpg" title="蓝色" width="21" height="21"></a></p>
  <p><a onclick="color(5,3)" ><img id="3color5" src="{DT_SKIN}/image/oyw_pic_55.jpg" title="紫色" width="21" height="21"></a></p>
  <p><a onclick="color(6,3)" ><img id="3color6" src="{DT_SKIN}/image/oyw_pic_57.jpg"  title="粉红色"width="21" height="21"></a></p>
  <p><a  onclick="color(7,3)"  ><img id="3color7" src="{DT_SKIN}/image/oyw_pic_59.jpg"title="棕色" width="21" height="21"></a></p>
  <p><a onclick="color(8,3)" ><img id="3color8" src="{DT_SKIN}/image/oyw_pic_61.jpg" title="黑白色"width="21" height="21"></a></p>
  <p class="last"><a onclick="color(9,3)" ><img id="3color9" src="{DT_SKIN}/image/oyw_pic_63.jpg"title="多种" width="21" height="21"></a></p>
  </div>
  <div class="oyw_xz clear clearfix" style="padding-top:10px;">
  <h4 style="color:#444;padding-bottom:8px;">您已经选择了</h4>
  <p id="select"><span id='select_color3'>&nbsp;</span> <span id='select_hy3'>&nbsp;</span>   <span id='select_city3'>&nbsp;</span> </p>
  </div>
  <div class="casr_search clearfix">
<form action="{$CFG['url']}mall/search_order.php" method="post">
  <input type="hidden" id="color3" name="color"/>
  <input type="hidden" id="city3"  name="city"/>
  <input type="hidden" id="sort3" name="sort"/>
  <input name="cartid" type="hidden" value=3>
  <input name="item" type="text"  class="input_txt fl">
  <input name="submit" type="submit" value="搜索" class="input_btn fr"></form>
  </div>
  </div>
  <div class="oyw_case_c fl">
  <h3>请选择行业或地区：</h3>
  <ul style="padding-top:6px;" class="clear clearfix">
  
  	{loop $sorts $i $r}
 
  	<li><p>+<a id="3area{$i}" title="{$r}" onclick="area('{$i}',3)">{$r}</a></p>
  	{/loop}
  </ul>
  
  </div>

  <div class="oyw_case_r fr">
 
  <h4><a href="#">上海网站建设</a> <a href="#">北京网站建设</a> <a href="#">深圳网站建设</a> <a href="#">苏州网站建设</a> <a href="#">杭州网站建设</a> <a href="#">成都网站建设</a> <a href="#">广州网站建设</a> <a href="#">武汉网站建设</a></h4>
  <h5>{loop $AREA  $k $city}
  <a id="3city{$k}" title="{$city[areaname]}" onclick="city('{$k}',3)">{$city[areaname]}</a>
  {/loop}
  </h5><ul>
  </ul>
  </div>
  </div>
  <div class="oyw_case_b clearfix">
  <ul>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  </ul>
  </div></li>
  <li id="con_the_4" style="display:none">  <div class="oyw_case_t clearfix">
  <div class="oyw_case_l fl">
   <h3>案例搜索（可多选）：</h3>
  <div class="oyw_color">
     <p><a onclick="color(1,4)"><img  id="4color1" src="{DT_SKIN}/image/oyw_pic_48.jpg" title="红色" width="21" height="21"></a></p>
  <p><a onclick="color(2,4)" ><img id="4color2" src="{DT_SKIN}/image/oyw_pic_46.jpg" title="黄色" width="21" height="21"></a></p>
  <p><a onclick="color(3,4)" ><img  id="4color3" src="{DT_SKIN}/image/oyw_pic_51.jpg" title="绿色" width="21" height="21"></a></p>
  <p><a  onclick="color(4,4)"><img id="4color4" src="{DT_SKIN}/image/oyw_pic_53.jpg" title="蓝色" width="21" height="21"></a></p>
  <p><a onclick="color(5,4)" ><img id="4color5" src="{DT_SKIN}/image/oyw_pic_55.jpg" title="紫色" width="21" height="21"></a></p>
  <p><a onclick="color(6,4)" ><img id="4color6" src="{DT_SKIN}/image/oyw_pic_57.jpg"  title="粉红色"width="21" height="21"></a></p>
  <p><a  onclick="color(7,4)"  ><img id="4color7" src="{DT_SKIN}/image/oyw_pic_59.jpg"title="棕色" width="21" height="21"></a></p>
  <p><a onclick="color(8,4)" ><img id="4color8" src="{DT_SKIN}/image/oyw_pic_61.jpg" title="黑白色"width="21" height="21"></a></p>
  <p class="last"><a onclick="color(9,4)" ><img id="4color9" src="{DT_SKIN}/image/oyw_pic_63.jpg"title="多种" width="21" height="21"></a></p>
  </div>
  <div class="oyw_xz clear clearfix" style="padding-top:10px;">
  <h4 style="color:#444;padding-bottom:8px;">您已经选择了</h4>
  <p id="select"><span id='select_color4'>&nbsp;</span> <span id='select_hy4'>&nbsp;</span>   <span id='select_city4'>&nbsp;</span> </p>
  </div>
  <div class="casr_search clearfix">
  <form action="{$CFG['url']}mall/search_order.php" method="post">
  <input type="hidden" id="color4" name="color"/>
  <input type="hidden" id="city4"  name="city"/>
  <input type="hidden" id="sort4" name="sort"/>
  <input name="cartid" type="hidden" value=4>
  <input name="item" type="text"  class="input_txt fl">
  <input name="submit" type="submit" value="搜索" class="input_btn fr"></form>
  </div>
  </div>
  <div class="oyw_case_c fl">
  <h3>请选择行业或地区：</h3>
  <ul style="padding-top:6px;" class="clear clearfix">
  
  	{loop $sorts $i $r}
 
  	<li><p>+<a id="4area{$i}" title="{$r}" onclick="area('{$i}',4)">{$r}</a></p>
  	{/loop}
  </ul>
  
  </div>

  <div class="oyw_case_r fr">
 
  <h4><a href="#">上海网站建设</a> <a href="#">北京网站建设</a> <a href="#">深圳网站建设</a> <a href="#">苏州网站建设</a> <a href="#">杭州网站建设</a> <a href="#">成都网站建设</a> <a href="#">广州网站建设</a> <a href="#">武汉网站建设</a></h4>
  <h5>{loop $AREA  $k $city}
  <a id="4city{$k}" title="{$city[areaname]}" onclick="city('{$k}',4)">{$city[areaname]}</a>
  {/loop}
  </h5><ul>
  </ul>
  </div>
  </div>
  <div class="oyw_case_b clearfix">
  <ul>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  <li><a href="#"><img src="{DT_SKIN}/image/oyw_pic_75.jpg" width="303" height="207">
  </a>
    <div class="oyw_wz">
      <h5><a href="#">公司名称：上海科技创新有限公司</a></h5>
      <p><a href="#">建站套餐：展示站1套餐</a></p>
      <p><a href="#">网站特点：以产品为主，展示企业特点</a></p>
      <a href="#"></a> </div>
  </li>
  </ul>
  </div></li>
  </ul>
  
  </div>
  </div>


</div> 
    <script>
  function color(v,n){
	 
	  for(var i=1;i<=9;i++){

	         if(i==v){

	        	 document.getElementById(+n+"color"+i+"").style.border="2px solid red";
	        	  var color_title=document.getElementById(+n+"color"+i+"").title;
	 			 document.getElementById("select_color"+n+"").firstChild.nodeValue=color_title+"+";
	 			 document.getElementById("color"+n+"").value=color_title; 
	         }else{
	        	 document.getElementById(+n+"color"+i+"").style.border="0";
	         }
			
		  }
	  
	  
  }
  function city(v,n){

	  for(var i=1;i<=53;i++){

         if(i==v){

        	 document.getElementById(+n+"city"+i+"").style.color="red";
        	  var city_title=document.getElementById(+n+"city"+i+"").title;
 			 document.getElementById("select_city"+n+"").firstChild.nodeValue="+"+city_title;
 			 document.getElementById("sort"+n+"").value=city_title; 
         }else{
        	 document.getElementById(+n+"city"+i+"").style.color="#555";
         }
		
	  }
	
	  
  }
  function area(t,n){
	 // var m=document.getElementById("area"+t+"").style;
	
	  for(var i=0;i<50;i++){
		  if(i==t){
			  document.getElementById(+n+"area"+i+"").style.color="red";
			  var area_title=document.getElementById(+n+"area"+i+"").title;
			 document.getElementById("select_hy"+n+"").firstChild.nodeValue=area_title;
			 document.getElementById("city"+n+"").value=area_title; 
		  }else{
			  document.getElementById(+n+"area"+i+"").style.color="#555";
			  
		  }
		 
	  }
	
	 
  }
  
  
  
  </script>
<script type="text/javascript">

function Dcheck() {
	if(Dd('username').value == '') {
		confirm('请输入登录名称');
		Dd('username').focus();
		return false;
	}
	if(Dd('password').value == '') {
		confirm('请输入密码');
		Dd('password').focus();
		return false;
	}
	Login.submit();
}

</script>
{template 'footer'}
</body>
</html>
