{template 'header_mb'}
<div class="M_Y_Cont">
  <div class="M_Y_ContNav">
    <a href="" class="M_Y_ContNav_Ind">首页</a> >
    <a href="">摩恩网络网站建设平台</a> >
    <a href="">企业模版网站</a> >
    <a href="">{$item[title]}</a> 
  </div>
  <div class="M_Y_ContT">
    <!-- z展示图片右边 -->
    <div class="M_Y_ContT_l">
        <div class="M_Y_ContT_lImg">
          <img src="{$item[thumb]}" alt="" class="testimg">
          <div id="pic" style="display:none">{$item[thumb]}</div>
        </div>
        <div class="M_Y_ContT_lShare">
          <div class="M_Y_ContT_lShare_s">
            <a href="javascript:SendPage();">[告诉好友]</a> &nbsp;或分享到：
          </div>
          <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_t163" data-cmd="t163" title="分享到网易微博"></a><a href="#" class="bds_more" data-cmd="more"></a></div>

        </div>
    </div>
    <!-- 套餐选择左边 -->
    <div class="M_Y_ContT_r">
        <div class="M_Y_ContT_rTitle">
          <p>模版编号：<i id="title">{$item[title]}</i></p>
        </div>
        <div class="M_Y_ContT_r2">
            <div class="M_Y_ContT_r2_l">
              <span class="M_Y_ContT_r2_lJG">总价：<i>￥<b id="monut_price">{$item[price]}</b>元</i></span>
              <span>
                <p>
               {$item[introduce]}
                </p>
              </span>
            </div>
            <!-- 套餐提示 -->
            <!-- 套餐提示 end-->
            <div class="M_Y_ContT_r2_rBox">
            <div class="M_Y_ContT_r2_r">
                <div class="M_Y_ContT_r2_rV"></div>
                <div class="M_Y_ContT_r2_rK">
                  <span><i class="M_Y_s"></i><p>购买即送在线客服系统</p></span>
                  <span><i class="M_Y_h"></i><p>三年购买更优惠</p></span>
                  <span><i class="M_Y_j"></i><p>增加移动网站，直减优惠</p></span>
                  <span><i class="M_Y_j"></i><p>增加多个语言，直减优惠</p></span>
                </div>
            </div>
            </div>
            <!-- 套餐提示 end-->
        </div>
        <!-- 套餐选择表单 -->
            <form action="buyer.php" method="post" id="order_form" name="order_form">
            <input type="hidden" name="order_yz" id="order_yz" value="1"/>
            
        <div class="M_Y_ContT_rXZ clear"> 
  
        <!-- 套餐 -->
          <div class="M_Y_ContT_rXZTC">
          <ul>
            <li class="clearfix" style="padding:0 5px;">
               {if $s1}
                <font style="width:54px; float:left; height:31px; padding-bottom:1px; line-height:31px; font-weight:normal; color:#585858; ">套  &nbsp;餐：</font>
            <div class="M_Ycatt">
            {loop $s1 $i $v}
          
                <a onclick="changeAtt(this,'{$v[0]}')" href="javascript:;" name="tc" title="{$v[0]}" id="asd_{$v[1]}" onmouseover="javascript:show_tips(1, {$v[1]});" onmouseout="javascript:show_tips(0, {$v[1]});" style="position:relative; z-index:98"  {if $i==1} class="cattsel"  {/if}>
                  <div id="tc_{$v[1]}" class="showattr" style="display: none; left: 57px; top: 30px;">{$v[2]}</div>
                  {$v[0]}{$v[1]}元<input style="display:none" id="spec_tc_{$i}" type="radio" name="spec_tc" value="{$v[1]}" /></a>
            {/loop}
                
           </div>
           {/if}
          <div style="height:0px; line-height:0px; width:100%; clear:both;"></div>
           {if $s2}
               <font style="width:54px; float:left; height:31px; padding-bottom:1px; line-height:31px; font-weight:normal; color:#585858; "> 移动版：</font>
              <div class="M_Ycatt">    
              {loop $s2 $i $v}
                   <a onclick="changeAtt(this,'{$v[0]}')" href="javascript:;" name="mob"  title="{$v[0]}" id="asd_{$i}" onmouseover="javascript:show_tips1(1, {$i});" onmouseout="javascript:show_tips1(0,{$i});" style="position:relative; z-index:90" {if $i==0} class="cattsel" {/if}>
                 <div id="mob_{$i}" class="showattr" style="display: none; left: 57px; top: 30px;">{$v[2]}</div>
                   {$v[0]}{$v[1]}元<input style="display:none" id="spec_mob_{$i}" type="radio" name="spec_mob" value="{$v[1]}"></a>
       
              <input type="hidden" name="spec_list" value="4">
                 {/loop}
                  </div>
           {/if}
          <div style="height:0px; line-height:0px; clear:both;"></div>
          {if $s3}
           <font style="width:54px; float:left; height:31px; padding-bottom:1px; line-height:31px; font-weight:normal; color:#585858; "> 机  &nbsp;房：</font>
          <div class="M_Ycatt">
             {loop $s3 $i $v}
              <a onclick="changeAtt(this,'{$v[0]}')" href="javascript:;" name="mob"  title="{$v[0]}" id="asd_{$i}" onmouseover="javascript:show_tips2(1, {$i});" onmouseout="javascript:show_tips2(0,{$i});" style="position:relative; z-index:88" {if $i==0} class="cattsel" {/if}>
                 <div id="jifang_{$i}" class="showattr" style="display: none; left: 57px; top: 30px;">{$v[2]}</div>
                   {$v[0]}<input style="display:none" id="spec_jf_{$i}" type="radio" name="spec_jf" value="{$v[1]}"></a>
       
              <input type="hidden" name="spec_list" value="4">
          {/loop}
               
          </div>
          {/if}
           <div style="height:0px; line-height:0px; clear:both;"></div>
          {if $s4}
           <font style="width:54px; float:left; height:31px; padding-bottom:1px; line-height:31px; font-weight:normal; color:#585858; "> 年  &nbsp;限：</font>
          <div class="M_Ycatt" id="jf">
             {loop $s4 $i $v}
              <a onclick="changeAtt(this,'{$v[0]}')" href="javascript:;" name="mob"  title="{$v[0]}" id="asd_{$i}"  style="position:relative; z-index:85"{if $i==1} class="cattsel" {/if} >
                   {$v[0]}<input style="display:none" id="spec_year_{$i}" type="radio" name="spec_year" value="{$v[1]}"></a>
           
          {/loop}
               
          </div>
          {/if}
          <div style="height:0px; line-height:0px; clear:both;"></div>
      
           <font style="width:54px; float:left; height:31px; padding-bottom:1px; line-height:31px; font-weight:normal; color:#585858; "> 语  &nbsp;种：</font>
          <div class="M_Ycatt">
              <div class="M_Ycatt_lagu">
                <ul>
                    <li><input type="checkbox" name="language" id="language0" value="简体中文" checked="">中文简体 </li>
                    <li><input type="checkbox" name="language"  id="language1" value="繁体中文" >中文繁体 </li>
                    <li><input type="checkbox" name="language"  id="language2" value="英文" >英文版本 </li>
                    <li><input type="checkbox" name="language" id="language3" value="日文">日文版本</li>
                    <li><input type="checkbox" name="language" id="language4" value="俄文" >俄文版本 </li>
                  <input type="hidden" id="tc" name="tc" value="{$s1[1][1]}" disabled/>
                 <input type="hidden" id="rand" name="rand" value="{$rand}"/>
                  <input type="hidden" name="itemid"value="{$item[itemid]}"/> 
                   <input type="hidden" id="mob" name="mob" value="{$s2[0][1]}"disabled/>
                   <input type="hidden" id="jf" name="jf"value="{$s3[0][1]}"disabled/>
                   <input type="hidden" id="year" name="year"value="{$s4[1][1]}"disabled/>
                     <input type="hidden" id="mb_price" name="mb_price"value="{$price}" disabled/>
                       <input type="hidden" id="language_style" name="language_style"value="1" disabled/>
                         <input type="hidden" id="yz" name="yz"value="0" disabled/>
                  <li>
                </ul>
              </div>
          </div>
        </li>
      
      </ul>    
       
    </div>
      
        <!-- 订购与浏览 -->
          <div class="M_Y_ContT_rDing">
           <a href="{$item[url]}" target="_blank" class="M_Y_LY"> 浏览演示</a>
            <a href="{$MOD[linkurl]}{rewrite('buy.php?itemid='.$itemid.'&rand='.base64_encode($rand))}" class="M_Y_DG"> 立即订购</a>
          <a href="#"  onclick="gz()" class="radd"></a>
          </div>
          <!-- 订购与浏览 end-->
  

      </div>
          
  </div>
        <!-- 套餐选择表单 end--></form>
    </div>
  </div>
  <!-- 同色系模版和详情介绍 -->
  <div class="M_Y_XQ clear">
    <!-- 同色系模版展示 -->
    <div class="M_Y_XQ_lf">
      <!--同色系模版  -->
      <div class="M_Y_XQ_lf_cont">
      <div class="M_Y_XQ_lf_t">同色系模版</div>
      {loop $type_groups $i $k}
        <ul class="clearfix ">
            <li class="goodsimg1">
              <a href="{$CFG[url]}/group/show.php?itemid={$k[itemid]}" title="">
                <img src="{$k[thumb]}" alt="" class="B_blue" style="display: inline;">
              </a>
            </li>
            <li class="hisname"><a href="{$CFG[url]}/group/show.php?itemid={$k[itemid]}"  title="">{$k[title]}</a><br>
            本店售价：
            <font class="yen red">￥{$k[price]}元</font><br>
            </li>
        </ul>
        {/loop}
       
      
      </div>
      <!--同色系模版  end-->
      <!-- 浏览记录 -->

      <div class="M_Y_XQ_lf_cont">
      <div class="M_Y_XQ_lf_t">同行业模版</div>
      {loop $type_cats $i $k}
        <ul class="clearfix ">
            <li class="goodsimg1">
              <a href="{$CFG[url]}/group/show.php?itemid={$k[itemid]}" title="">
                <img src="{$k[thumb]}" alt="" class="B_blue" style="display: inline;">
              </a>
            </li>
            <li class="hisname"><a href="{$CFG[url]}/group/show.php?itemid={$k[itemid]}"  title="">{$k[title]}</a><br>
            本店售价：
            <font class="yen red">{$k[price]}</font><br>
            </li>
        </ul>
        {/loop}
       
      </div>
      <!-- 浏览记录 end -->
    </div>
    <!-- 同色系模版展示 end -->
    <!-- 模版内容详细介绍 -->
    <div class="M_Y_XQ_rt">
      <div class="M_Y_XQ_rt_title" id="M_Y_XQ_rt_title">
          <ul>
            <li><a href="#M_Y_XQ_rt_FUJS" class="MCon">服务介绍</a></li>
            <li><a href="#M_Y_XQ_rt_ZZFW">增值服务</a></li>
            <li><a href="#M_Y_XQ_rt_XGGN">选购功能</a></li>
            <li><a href="#M_Y_XQ_rt_CJWT">常见问题</a></li>
          </ul>
      </div>
      <div class="M_Y_XQ_rt_cont">
          <!-- 详情属性 -->

          <div class="M_Y_XQ_rt_cont_Attr">
              <div class="M_Y_XQ_rt_cont_Attr_lf">
                <table>
                  <tr>
                    <td>行业：</td>
                    <td>{$CAT[catname]}</td>
                  </tr>
                  <tr>
                    <td>色系：</td>
                    <td>{$colors_all[$color][name]}</td>
                  </tr>
                </table>
              </div>
              <div class="M_Y_XQ_rt_cont_Attr_rt">
                  <table>
                  <tr>
                    <td>手机演示地址：</td>
                    <td><a href="{$item[moburl]}">{$item[moburl]}</a></td>
                    <td><img src="{$item[ewm]}" alt=""></td>
                  </tr>
                  
                </table>
              </div>
          </div>
          <!-- 详情属性 end -->
          <!-- 服务介绍 -->
        {$CAT_P[content1]}
          <!-- 服务介绍 end -->
          <!-- 增值服务 -->
          <div class="M_Y_XQ_rt_ZZFW" id="M_Y_XQ_rt_ZZFW">
            <div class="M_Y_XQ_rt_ZZFW_T">
                <span>增值服务<i>Value-added services</i></span>
            </div>
             {$CAT_P[content2]}
          </div>
          <!-- 增值服务 end -->
          <!-- 选购功能 -->
          <div class="M_Y_XQ_rt_ZZFW" id="M_Y_XQ_rt_XGGN">
            <div class="M_Y_XQ_rt_ZZFW_T">
                <span>选购功能<i>Optional features</i></span>
            </div>
             {$CAT_P[content3]}
          </div>
          <!-- 选购功能 end -->
          <!-- 常见问题 -->
          <div class="M_Y_XQ_rt_ZZFW" id="M_Y_XQ_rt_CJWT">
            <div class="M_Y_XQ_rt_ZZFW_T">
                <span>常见问题<i>FAQs</i></span>
            </div>
              {$CAT_P[content4]}
          </div>
          <!-- 常见问题 end -->
      </div>
    </div>
    <!-- 模版内容详细介绍 end -->
  </div>
  <!-- 同色系模版和详情介绍 end -->
</div>
<script>
function gz(){
	new Maya.Box({
		text : "模版收藏",
		url : "{$CFG[url]}/group/gz.php?itemid={$itemid}",
		width :330,
		height : 150,
		iframeAuto: false,
        iframeScroll: false,
	});	
}

</script>

<!-- 黄色模版内容页面 end -->
<script>
$(function(){
	var p=$('#monut_price').text();
	 rand=$('#rand').val();
    price_rand='price_'+rand+'';
    language_rand='language_'+rand+'';
  
	setCookie("price_"+rand+"",p);
	setCookie("language_"+rand+"",'简体中文');

   
	 $("input[name='language']").click(function(){
		
			
	      var language_all = [];
	      var x=document.getElementsByName("language");
	    for (var i=0;i<x.length;i++)
	    {
	    if(x[i].checked==true){
	    language_all.push(x[i].value);
	         }
	    }
	    money=0;
	    var l_style =language_all.join(",");
		 var sss=  $("#language_style").val();
	    	var yz= $("#yz").val();
		 	  
	    if(language_all.length<1){
	        alert('至少需要选择一个');
	        return false;
	        }else if(sss>=language_all.length && yz==1){

			 	    	if(language_all[0]=='简体中文' || language_all[0]=='繁体中文' ){  		 
				    		money=parseFloat(money)-parseFloat(500)*(sss-language_all.length);
				    	}else if(language_all[0]=='英文' || language_all[0]=='日文' || language_all[0]=='俄文' ){
				    	    money=parseFloat(money)-parseFloat(500)*(sss-language_all.length);
				    	}
				    
				 	       var l_style =language_all.join(",");
					 	      setCookie("language_"+rand+"",l_style);
					 	  
		              $("#language_style").val(language_all.length);  		    
					        language_money=parseFloat(money);
					        $("#yz").val(1);
					        changePrice(language_money);
					      

		        }else if(language_all.length>=1){
		        	
		        	if(language_all[0]=='简体中文' || language_all[0]=='繁体中文' ){  		 
			    		money=parseFloat(money)+parseFloat(500)*(language_all.length-sss);
			    	}else if(language_all[0]=='英文' || language_all[0]=='日文' || language_all[0]=='俄文' ){
			    	    money=parseFloat(money)+parseFloat(500)*(language_all.length-sss);
			    	}
			  
			 	       var l_style =language_all.join(",");
				 	      setCookie("language_"+rand+"",l_style);
					 	  
					  $("#language_style").val(language_all.length);  	
				        language_money=parseFloat(money);
				        $("#yz").val(1);
				       
     			        changePrice(language_money);
				      
		       
	    
	    }
	  
	  
	 
})

	
})



	</script>-

<script>
  /* 代码增加_start  By  www.onooo.com */
function show_tips(isshow, id)
{
  if(isshow==1)
  {
    document.getElementById("tc_"+id).style.display = 'block';
  }
  else
  {
    document.getElementById("tc_"+id).style.display = 'none';
  }
  var myWidth1=document.getElementById("asd_" + id).offsetWidth;
  var myWidth2=document.getElementById("tc_" + id).offsetWidth;
  var www= (myWidth1-myWidth2)/2;
  //alert(sss);
  document.getElementById("tc_"+id).style.left = www+"px";
  document.getElementById("tc_"+id).style.top = "32px";
}
function show_tips1(isshow, id)
{
  if(isshow==1)
  {
    document.getElementById("mob_"+id).style.display = 'block';
  }
  else
  {
    document.getElementById("mob_"+id).style.display = 'none';
  }
  var myWidth1=document.getElementById("asd_" + id).offsetWidth;
  var myWidth2=document.getElementById("mob_" + id).offsetWidth;
  var www= (myWidth1-myWidth2)/2;
  //alert(sss);
  document.getElementById("mob_"+id).style.left = www+"px";
  document.getElementById("mob_"+id).style.top = "32px";
}
function show_tips2(isshow, id)
{
  if(isshow==1)
  {
    document.getElementById("jifang_"+id).style.display = 'block';
  }
  else
  {
    document.getElementById("jifang_"+id).style.display = 'none';
  }
  var myWidth1=document.getElementById("asd_" + id).offsetWidth;
  var myWidth2=document.getElementById("jifang_" + id).offsetWidth;
  var www= (myWidth1-myWidth2)/2;
  //alert(sss);
  document.getElementById("jifang_"+id).style.left = www+"px";
  document.getElementById("jifang_"+id).style.top = "32px";
}
function changeAtt(t,goods_id) {
	 
 s=getCookie(price_rand);
var types=t.lastChild.name;

if(types=='spec_tc'){
var tc_val=t.lastChild.id;
setCookie("tc_value_"+rand+"",tc_val);
tc_val=getCookie(tc_val);
tc=getCookie("tc"+rand+"");
new_tc=Number(tc_val)-Number(tc);
if(tc==tc_val){
	return false;
}else
{

	s=Number(s)+Number(new_tc);
	s=s.toFixed(2);
	$('#monut_price').text(s);
	setCookie("price_"+rand+"",s);
	
	setCookie("tc"+rand+"",tc_val);
	 $("#yz").val(1);
	
}
}
if(types=='spec_jf'){
	var tc_val=t.lastChild.id;
	setCookie("jf_value_"+rand+"",tc_val);
	
}


if(types=='spec_mob'){
	var tc_val=t.lastChild.id;
	setCookie("mob_value_"+rand+"",tc_val);
	tc_val=getCookie(tc_val);
	tc=getCookie("mob"+rand+"");
	new_tc=Number(tc_val)-Number(tc);
	if(tc==tc_val){
		return false;
	}else
	{
		s=Number(s)+Number(new_tc);
		s=s.toFixed(2);
		$('#monut_price').text(s);
		setCookie("price_"+rand+"",s);
		setCookie("mob"+rand+"",tc_val);
		 $("#yz").val(1);
	
	}
}
if(types=='spec_year'){
	var tc_val=t.lastChild.id;
	setCookie("year_value_"+rand+"",tc_val);
	tc_val=getCookie(tc_val);
	tc=getCookie("year"+rand+"");
   console.log(tc_val);
   console.log(tc);
	new_tc=Number(tc_val)-Number(tc);
	if(tc==tc_val){
		return false;
	}else
	{
		s=Number(s)+Number(new_tc);
		s=s.toFixed(2);
		setCookie("price_"+rand+"",s);
		$('#monut_price').text(s);
		$("#yz").val(1);
		setCookie("year"+rand+"",tc_val);
	}
}

t.lastChild.checked='checked';
for (var i = 0; i<t.parentNode.childNodes.length;i++) {

  if (t.parentNode.childNodes[i].className == 'cattsel') {
    t.parentNode.childNodes[i].className = '';
  }
}
// 
t.className = "cattsel";


}
function changePrice(i){
	s=getCookie(price_rand);
	s=Number(s)+Number(i);
	s=s.toFixed(2);
	setCookie("price_"+rand+"",s);
	$('#monut_price').text(s);
	   	
}
/* 代码增加_end  By  www.omooo.com */
</script>
<!-- 选择效果 end -->
<!-- 百度分享share -->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<!-- 百度分享share end -->
<script>


//写cookies
function setCookie(name,value) 
{ 
 var Days = 30; 
 var exp = new Date(); 
 exp.setTime(exp.getTime() + Days*24*60*60*1000); 
 document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString(); 
}
//读取cookies 
function getCookie(name) 
{ 
 var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
 
 if(arr=document.cookie.match(reg))
 
  return unescape(arr[2]); 
 else 
  return null; 
}
//删除cookies 
function delCookie(name) 
{ 
 var exp = new Date(); 
 exp.setTime(exp.getTime() - 1); 
 var cval=getCookie(name); 
 if(cval!=null) 
  document.cookie= name + "="+cval+";expires="+exp.toGMTString(); 
} 
</script>

{template 'footer'}