       <!-- 树形导航 -->
        <div class="u_sx_nav">
            <div class="u_sx_xm_t"><span><p>项目中心<img src="{DT_SKIN}/image/oy_xl_znav.gif" alt=""></p></span>
              <ul>
                <li><span><a href="www.omm.cn">跟踪</a></span><a href="">定制套餐</a></li>
                <li><span><a href="www.omm.cn">跟踪</a></span><a href="">模版套餐</a></li>
                <li><span><a href="www.omm.cn">发布</a></span><a href="">个性需求</a></li>
                <li><span><a href="www.omm.cn">购买</a></span><a href="">网站维护</a></li>
              </ul>
            </div>
            <div class="u_sx_xm_t"><span><p>客服中心<img src="{DT_SKIN}/image/oy_xl_znav.gif" alt=""></p></span>
              <ul>
                <li><span><a href="www.omm.cn">发信</a></span><a href="">站内信件</a></li>
                <li><span><a href="www.omm.cn">查看</a></span><a href="">站内交谈</a></li>
                <li><span><a href="www.omm.cn">电邮</a></span><a href="">邮件订阅</a></li>
                <li><span><a href="www.omm.cn">提问</a></span><a href="">售后中心</a></li>
              </ul>
            </div>
            <div class="u_sx_xm_t"><span><p>账户中心<img src="{DT_SKIN}/image/oy_xl_znav.gif" alt=""></p></span>
              <ul>
                <li><span><a href="www.omm.cn">头像</a></span><a href="">会员资料</a></li>
                <li><span><a href="www.omm.cn">查看</a></span><a href="">项目主体</a></li>
                <li><span><a href="www.omm.cn">站内</a></span><a href="">资金流水</a></li>
                <li><span><a href="www.omm.cn">充值</a></span><a href="">充值记录</a></li>
                <li><span><a href="www.omm.cn">提现</a></span><a href="">资金提现</a></li>
                <li><span><a href="www.omm.cn">查看</a></span><a href="">积分管理</a></li>
              </ul>
            </div>
        </div>
  
        <!-- 左边广告 -->
        <div class="u_sx_ban">
          <span><a href="">
            <img src="{DT_SKIN}/image/u_baner_nav.png" alt="">
            </a>
          </span>
        </div>