{template 'header3'}


<!-- 头部结束 -->
  <!-- 主体内容开始 -->
 <form method="post" action="{$DT[file_login]}"  onsubmit="return Dcheck();">
  <div class="NeLo_Cont">
    <div class="NeLo_Cont_lf">
      <img src="{DT_SKIN}/image/New_Login.jpg" alt="">
    </div>
    <div class="NeLo_Cont_rt">
        <div class="NeLo_Cont_rt_1"><p>摩恩网络IDC数据平台帐号可以直接登录</p></div>
        <div class="NeLo_Cont_rt_2">
          <span><b>登录名：</b><i><a href="send.php">忘记登录名？</a></i></span><br />
         <input type="text" name="username" placeholder="手机/邮箱/会员名/8位ID" class="uername" id="username" size="16"  > 
        </div>
        <div class="NeLo_Cont_rt_2">
          <span><b>登录密码：</b><i><a href="send.php">忘记登录密码？</a></i></span><br />
          <input type="text" placeholder="登录密码" name="password" class="password" id="password">
        </div>
        <div class="NeLo_Cont_rt_3">
          <input type="submit" value="登&nbsp;&nbsp;录" name="submit">
        </div>
        <div class="NeLo_Cont_rt_4">
          <p> <input type="checkbox" name="cookietime" value="1" id="cookietime"{if $MOD[login_remember]} checked{/if}/>记住我
             <input type="checkbox" name="goto" value="1" id="goto"{if $MOD[login_goto]} checked{/if}/>进入我的后台</p>
          <i><a href="register.php">免费注册</a></i>
        </div>
        <div class="NeLo_Cont_rt_5">
          合作网站登录：
          {if $oa}
		
			{loop $OAUTH $k $v}
			{if $v[enable]}<a href="{DT_PATH}api/oauth/{$k}/connect.php" title="{$v[name]}"><img src="{DT_PATH}api/oauth/{$k}/ico.png" alt="{$v[name]}"/></a> &nbsp;{/if}
			{/loop}
			{/if}
          
        </div>
    </div>
  </div>
</form>
<!-- 验证登录用户js 开始-->
<script>

function Dcheck()
{
var user = $("#username").val();
var pass = $("#password").val();

if (user == "")
{
	Maya.MessageBox("请输入 <strong>登录用户名</strong> ");
    $("username").focus();
    return false;
}
if(pass == "")
{
	Maya.MessageBox("请输入 <strong>密码</strong> ");
    $("#password").focus();
    return false;
}



}
</script>


{template 'footer2'}