{template 'header2'}

<div class="u_wsxq">
	<div class="u_wsxq_baner">
		<img src="{DT_SKIN}/image/u_wsxq_ban.jpg" alt="">
	</div>
	<div class="u_mbxdh">
		<span>·您的位置：<a href="">首页</a> > <a href="">商城</a> > <a href="">提交订单</a> > <a href="">完善网站需求</a></span>
	</div>
	<!-- 订单详情 -->



	<div class="u_ddxqsw">
		<div class="u_ddxqsw_t"><span>订单详情</span></div>
		<div class="u_ddxqsw_con">
			<div class="u_ddxqsw_con_l">
				<span><b>公司名称：</b>{$td[buyer_name]}（{$td[title]}）</span>
				<span><b>订单编号：</b>{$td[itemid]}</span>
				<span><b>所在地区：</b>{$td[areaid]}</span>
			
				<span><b><i>项目状态：</i></b>{$td[status_zt]}（<i>已付款{$td[ready_money]}元  </i>）</span>
			</div>
			<div class="u_ddxqsw_con_r">
				<span><b>订单总金额：</b><i><b>{$td[amount]}元</b></i></span>
				<span><b>订单时间：</b>{$td['adddate']}</span>
				<span><b>行业：</b>{$td[hy_sort]}</span>
			</div>
		</div>
	</div>
	<!-- 订单详情 结束-->
	<!-- 建站资料开始 -->

	<!-- 建站资料选项卡 -->
	
	
  <div class="js_case clear">
    <div class="js_title cf">
	
      <ul class="js_title-list cf">
     <li><a href="trade.php?itemid={$itemid}&action=update&step=upload_5&forward={$_GET[forward]}">建站资料</a></li>
        <li class="on"><a href="trade.php?itemid={$itemid}&action=update&step=index&forward={$_GET[forward]}">首页设计</a></li>
        <li><a href="trade.php?itemid={$itemid}&action=update&step=lm&forward={$_GET[forward]}">栏目页及内页设计</a></li>
        <li><a href="trade.php?itemid={$itemid}&action=update&step=design&forward={$_GET[forward]}">程序开发</a></li>
        <li><a href="trade.php?itemid={$itemid}&action=update&step=last&forward={$_GET[forward]}">网站上线</a></li>
      </ul>
    </div>
    <div class="product-wrap">
     <!--建站资料-->
     <div class="js_product" >

     </div>
<div class="js_product show">
{if $td[status]==2 }


<form method="post" action="trade.php" id="dform">
	<input type="hidden" name="forward" value="{$forward}"/>
	<input type="hidden" name="action" value="{$action}"/>
	<input type="hidden" name="step" value="{$step}"/>
	<input type="hidden" name="itemid" value="{$itemid}"/>
	<input type="hidden" value="" name="picid" id="picid">
	<input type="hidden" name="confirm_order" value="1"/>
 <div class="u_jzzl_index_sj" id="u_jzzl_index_sj">
        	<div class="u_jzzl_index_sj_k" id="u_jzzl_index_sj_k">
        		<div class="u_jzzl_index_rw_show">
                    <div class="u_jzzl_index_sj_cont6_lf">
                            <p>
                                <b>首页所有设计稿：</b>(点击图片可以预览网页) <br /><br /><br /><br /><i>     注：如果有看中的首页设计稿件，选择入围后即可看到设计师的在线联系方式，可发站内信或在线沟通进行修改直到确认。</i>
                            </p>
                        </div>
                        <div class="u_jzzl_index_sj_cont6_rt">
                            <ul>
                            {if !$index_alls}
							<span style="font-size:16px;padding:20px;height:30px;position:absolute; left: 200px;top: 100px; ">客官，没有这么快的，等待首页设计稿出现。</span>
							{/if}
                            {loop $index_alls $i $m}
                                <li>
                                    <div class="">
                                    <a target="_blank" href="{$CFG[url]}/extend/view_pic.php?img={$m[upload]}"><img src="{$m[upload]}" alt=""></a>
                                    <span>{$m[designer]}</span>
                                    </div>
                                    <br />
                           
                                    <input type="checkbox" name="post[{$i}]" id="pic_id" value="{$m[id]}"/><b>入围</b>
                                </li>
                                {/loop}
                               
                        </div>
                </div>
                <div class="u_jzzl_index_rw_time">
                    <b>首页入围：本套餐可以选择{$malls[in_select]}件初稿&nbsp;</b> <i> 确认倒计时：{$td[lefttime]}</i>
                </div>
                <div class="u_jzzl_index_rw_btn">
                    <p>注：如果有看中的首页设计稿件，选择入围后即可看到设计师的在线联系方式，可发站内信或在线沟通进行修改直到确认。不同套餐可选入围设计设计师数量会有所不同的。</p>
                    <span>
                        <input type="submit" value="入围" name="submit">
                    </span>
                </div>
        	</div>
        </div>
</form>
{else}
	<form method="post" action="trade.php" id="dform">
	<input type="hidden" name="forward" value="{$forward}"/>
	<input type="hidden" name="action" value="{$action}"/>
	<input type="hidden" name="step" value="{$step}"/>
	<input type="hidden" name="itemid" value="{$itemid}"/>
	<input type="hidden" value="" name="picid" id="picid">
	<input type="hidden" name="confirm_order" value="2"/>
<div class="u_jzzl_index_sj" id="u_jzzl_index_sj">
        	<div class="u_jzzl_index_sj_k" id="u_jzzl_index_sj_k">
        		<div class="u_jzzl_index_sj_cont">
        			<div class="u_jzzl_index_sj_cont1">
        				<span>
        				<b>首页效果确认：</b>(点击图片可以预览网页效果)    
        				<i>注：对入围设计作品有修改意见可直接联系该设计师</i>
        				</span>
        			</div>
        			<!-- 设计师列表开始 -->
        				{loop $re_upload_1s $i $r_1}
        			<div class="u_jzzl_index_sj_cont2">
        			
        			<!-- 设计师名称 -->
        				<div class="u_jzzl_index_sj_cont2_sjs">
        					<span><b>设计师</b></span>
        					<span>{$r_1[designer]}</span><br/><br/><br/>
        					<span class="u_jzzl_index_sj_cont2_gout"><a href="message.php?action=send&touser={$r_1[company_id]}"><img src="{DT_SKIN}/image/fasongzhanneixin.gif" alt=""></a></span>
        					<span><a href="chat.php?touser={$r_1[company_id]}&mid=16&itemid={$td[itemid]}"><img src="{DT_SKIN}/image/onlingoutong.gif" alt=""></a></span>
        					
        				</div>
      
        				<div class="u_jzzl_index_sj_cont2_show">
        					<ul>
        					{loop $r_1[t] $m $r_1}
        						<li>
        							<div class="u_jzzl_index_sj_cont2_show_img">
        								<a href="{$CFG[url]}extend/view_pic.php?img={$r_1['upload']}"  target="_blank"><img src="{$r_1[upload]}" id="showthumb{$m}"  alt="" disabled ></a>
        							<span>{$r_1[addtime]}</span>
									</div>
        							<br />
        							<input type="radio" name="post[{$i}]" id="pic_id" value="{$r_1[id]}"/>&nbsp;&nbsp;<b>选为首页</b>
        						</li>
        						{/loop}
        					
        					</ul>
        				</div>	
        					
        			</div>{/loop}
        	
        			
        			
        			<!-- 设计师列表结束 -->
        			<div class="u_jzzl_index_sj_cont4"><b>首页效果确认(只能选择一个作品)：</b>(点击放大图片)</div>
        			{if $td[pay]==0}
        			<div class="u_jzzl_index_sj_cont5">
        				<p>注：首页效果确认，确认后设计师会在4个工作日内为您设计网站栏目页及内页。确认后首页不再更改，如果确认效果后再更改，根
据能会收取一定的费用。如需更改，请联系客服。</p>
						<span> <input type="submit" value="确认作品" name="submit"></span>
        			</div>
        			{else}
        			<div class="u_jzzl_index_sj_cont5">
        				<p>注：首页效果确认，请支付首页进度款，付款后，设计师会在4个工作日内为您设计网站栏目页及内页。确认后首页不再更改，如果确认效果后再更改，根
据能会收取一定的费用。如需更改，请联系客服。</p>
						<span>首页确认支付二期款项：<i>￥{$td[price2]} </i> <input type="submit" value="确认并付款" name="submit"></span>
        			</div>
        			{/if}
        			

        			<div class="u_jzzl_index_sj_cont6">
        				<div class="u_jzzl_index_sj_cont6_lf">
        					<p>
        						<b>首页所有设计稿：</b>(点击图片可以预览网页) <i>		注：您已选择了选择了入围稿件，其他稿件仅供浏览。</i>
        					</p>
        				</div>
        				<div class="u_jzzl_index_sj_cont6_rt">
        					<ul>
        					  {loop $index_alls $i $m}
                                <li>
                                    <div class="">
                                    <a target="_blank" href="{$CFG[url]}/extend/view_pic.php?img={$m[upload]}"><img src="{$m[upload]}" alt=""></a>
                                    <span>{$m[addtime]}</span>
                                    </div>
                                    <br />
                                </li>
                                {/loop}
        						
        						
        					</ul>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        
</form>
        {/if}
</div>
<div class="js_product"></div>
<div class="js_product"></div>
<div class="js_product"></div>
     
    </div>
  </div>
		<!-- 建站资料选项卡 结束-->
</div>
	<!-- 建站资料结束 -->

{template 'footer'}